@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Customize scrollbar color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hides the arrows */
}

@layer components {
  .bar-button {
    @apply rounded-md p-2 cursor-pointer mx-2 my-1;
    @apply hover:bg-slate-200;
  }

  .group-options-button {
    @apply hover:bg-slate-200 p-1 rounded-md flex items-center;
  }
}

@layer utilities {
  .shadow-all-sides {
    box-shadow: 
    0 2px 18px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1);
  }
}