.ProseMirror:focus {
    outline: none;
}

.ProseMirror li::marker {
    color: black;
}

.ProseMirror p {
    margin: 0px 0px 0px 0px;
}

.ProseMirror li {
    margin: 3px 0px 3px 0px;
}

.ProseMirror ul {
    margin: 5px 0px 5px 0px;
}

.ProseMirror ol {
    margin: 5px 0px 5px 0px;
}

/* Remove the bullet point from checklist items */
.ProseMirror ul[data-type="taskList"] li::marker {
    color: white;
}

/* Ensure checkbox and text are on the same line */
.ProseMirror ul[data-type="taskList"] li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.ProseMirror ul[data-type="taskList"] {
    padding: 0px;
}